<div class="row">
  <div class="col-md-12">
    <h1>Welcome Pazza shop</h1>
  </div>
</div>


<div class="row">
  <% @products.each do |p| %>
      <div class="col-md-4">
          <h5><%= p.title %></h5>

        <div style="background-image: url(<%= p.path_to_image %>); min-height: 200px; background-repeat: no-repeat; background-position: center; background-size: cover"></div>
        <p><%= p.description %></p>
        <p>Size: <%= p.size %></p>
        <button type="button" class="btn btn-primary">
          Price <span class="badge badge-light">$ <%= p.price %></span>
        </button>
        <button type="button" class="btn btn-success float-right"  onclick="add_to_cart(<%= p.id %>)">
         Add to cart
        </button>
      </div>
  <% end %>
</div>
<br>
<br><br><br>
<br>



<button class="btn btn-primary" onclick="cart_get_number_of_items()">Click me!</button>


<script>
  $(function () {
      update_orders_input();
  })
</script>